<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="text-align: center;">
            <h1>About Us</h1>
        </div>
        <div class="col-lg-2"></div>
      </div>

  <div class="row">
    <div class="col-lg-12" style="text-align: center;">
        <p>AnkHub Technology Services is a full-service global Digital Marketing, Software Development, Business Intelligence Consulting and Education Company providing online promotions for start-ups, SMEs and large businesses. We are a young, dynamic, innovative and creative team of enthusiastic professionals.AnkHub Technology Services consultants have years of data warehousing experience to draw from to improve the design, implementation and operation of your data gathering and information analysis activities. We can do this by starting from scratch, but most often we determine how to best take advantage of your previous IT investments and incrementally improve your data ROI. </p>
    </div>

  </div>
  <button type="button" (click)="Alert()">Alert</button>

</div>