<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8" style="text-align: center;">
        <h1>
            {{data}}
        </h1>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8" style="text-align: center;">
        <h2>Business Secrets for your Success</h2>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" style="text-align: center;">
        <p>AnkHub Services Technology  is an innovative team who would be providing services to its client globally, promoted by professionals having rich expression in business intelligent, consulting,  staffing, outsourcing, and training domain specializes in the Business of  infrastructure services and talent management solutions.</p>
    </div>
    <div class="col-lg-1"></div>
  </div>

</div>





